@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,

body {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: "Quicksand", sans-serif;

    font-size: 62.5%;

    font-size: 10px;

    background-color: #E0FFFF;

}


/* Navbar section */
/* Teste Section */



.nav {

    width: 100%;

    height: 65px;

    position: fixed;

    line-height: 65px;

    text-align: center;

}



.nav div.logo {

    float: left;

    width: auto;

    height: auto;

    padding-left: 3rem;

}



.nav div.logo a {

    text-decoration: none;

    color: #fff;

    font-size: 2.5rem;

}



.nav div.logo a:hover {

    color: #00E676;

}



.nav div.main_list {

    height: 65px;

    float: right;

}



.nav div.main_list ul {

    width: 100%;

    height: 65px;

    display: flex;

    list-style: none;

    margin: 0;

    padding: 0;

}



.nav div.main_list ul li {

    width: auto;

    height: 65px;

    padding: 0;

    padding-right: 3rem;

}



.nav div.main_list ul li a {

    text-decoration: none;

    color: #fff;

    line-height: 65px;

    font-size: 2.4rem;

}



.nav div.main_list ul li a:hover {

    color: #00E676;

}

/* Home section */



.home {

    width: 100%;

    height: 100vh;

    background-image: url(../images/banner_teste.jpg);

    background-position: center top;

    background-size:cover;

    
    
}

.home_passeios {

    width: 100%;

    height: 100vh;

    background-image: url(../images/Galeria/Ilhas_Tropcais/2.jpg);

    background-position: center top;

    background-size:cover;

    

}
.home_aparecida {

    width: 100%;

    height: 100vh;

    background-image: url(../images/Galeria/Aparecida/Aparecida\ 2.jpg);

    background-position: center top;

    background-size:cover;

    

}

.home_arraial {
    width: 100%;

    height: 100vh;

    background-image: url(../images/Galeria/Arraial_do_cabo/3.jpg);

    background-position: center top;

    background-size:cover;


}
.home_capitolio {
    width: 100%;

    height: 100vh;

    background-image: url(../images/Galeria/capitolio/2.jpg);

    background-position: center top;

    background-size:cover;


}
.home_tropicais {
    width: 100%;

    height: 100vh;

    background-image: url(../images/Galeria/ilhas_tropicais/2.jpg);

    background-position: center top;

    background-size:cover;


}
.home_beto {
    width: 100%;

    height: 100vh;

    background-image: url(../images/Galeria/Beto_carreiro/banner.jpg);

    background-position: center top;

    background-size:cover;


}
.home_sobre {

    width: 100%;

    height: 100vh;

    background-image: url(../images/sobre.jpg);

    background-position: center top;

    background-size:cover;

    

}

.home_contato {

    width: 100%;

    height: 100vh;

    background-image: url(../images/Galeria/Fabio.png);

    background-position: center top;

    background-size:cover;

    

}
.home_calendario {

    width: 100%;

    height: 100vh;

    background-image: url(../images/Galeria/Fabio.png);

    background-position: center top;

    background-size:cover;

    

}
#social {

    margin-right: 3% ;
  }
  
#fb_logo, #wspp_logo {

    width: 12vmin;

} 
#insta_logo {
    max-width: 15vmin;
}
.contato > img:hover {
    border: 1px solid blue;
    opacity: 1;

}
.tip_text {

    font-size: 2.5vmin;
    font-weight: bold;

}


.rede_social {
    display: relative;
    margin-top: 30%;
    

}




#Passeios_h2 {
    text-align: center;
    font-size: 3em;


}
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 1.3em;
    height: 30%;
  }
  .ver_mais{
    height: 10%;
    width: 100%;
    margin-top: 3vmin;
    display: inline-block;
    text-align: center;


  }
  .ver_mais_button {
    width: 30%;
    height: 80%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;

  }
  .ver_mais_button:hover{
    background-color: black;
    color: white;

  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  .button {
    width: 100%;
    height: 80%;
    background-color: #25b484; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
  }
  .button:hover{
    background-color: black;
    color: white;

  }
  

.navTrigger {

    display: none;

}



.nav {

    padding-top: 20px;

    padding-bottom: 20px;

    -webkit-transition: all 0.4s ease;

    transition: all 0.4s ease;

}







/* Media qurey section */


/* Menu section */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .container {

        margin: 0;

    }

}



@media screen and (max-width:768px) {

    .navTrigger {

        display: block;

    }

    .nav div.logo {

        margin-left: 15px;

    }

    .nav div.main_list {

        width: 100%;

        height: 0;

        overflow: hidden;

    }

    .nav div.show_list {

        height: auto;

        display: none;

    }

    .nav div.main_list ul {

        flex-direction: column;

        width: 100%;

        height: 100vh;

        right: 0;

        left: 0;

        bottom: 0;

        background-color: #111;

        /*same background color of navbar*/

        background-position: center top;

    }

    .nav div.main_list ul li {

        width: 100%;

        text-align: right;

    }

    .nav div.main_list ul li a {

        text-align: center;

        width: 100%;

        font-size: 3rem;

        padding: 20px;

    }

    .nav div.media_button {

        display: block;

    }

}

/* Image Gallery section */
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }



  /* Footer Section */


  .site-footer {
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
}

#social-wrapper {
  text-align: center;
}


/*Social Media Icons*/
.social-wrapper {
  text-align: center;
}

.social-wrapper ul li {
  display: inline;
  margin: 0 5px;
}

.WhatsApp,
.facebook-icon,
.instagram-icon{
  margin-top: .625em;
  width: 40px;
  height: 40px;
  opacity: .6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
border-radius: 25px;
}

.WhatsApp:hover,
.facebook-icon:hover,
.instagram-icon:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
  text-align: center;
}
.calendario_footer{
height: auto;
width: 20%;

}


  .content_footer{
    display: inline-block;
    /* border: 1px solid blue; */
    width: 100%;
    margin-top: 1em;


  }
  #email {
    text-decoration: none;
    position: relative;
    margin-left: 40vmin;
    font-family: sans-serif;
    color: black;


  }
  #footer_wspp {
    max-width: 2%;
    margin-left: 1%;
    

  }
  #footer_fb{
    max-width: 2%;
    position: relative;
    margin-left: 5%;


  }
  #footer_insta {
    max-width: 2%;
    position: relative;
    margin-left: 5%;

  }
  .endereco {
    font-family: sans-serif;
    display: block;
    text-align: center;
    

  }
  




  .social {
    
    
    width: auto;
    /* border: 1px solid black; */


  }
  .whatsapp {
    display: inline-block;
    position: relative;
    left: 60%;


  }
/* Animation */



.navTrigger {

    cursor: pointer;

    width: 30px;

    height: 25px;

    margin: auto;

    position: absolute;

    right: 30px;

    top: 0;

    bottom: 0;

}



.navTrigger i {

    background-color: #fff;

    border-radius: 2px;

    content: '';

    display: block;

    width: 100%;

    height: 4px;

}



.navTrigger i:nth-child(1) {

    -webkit-animation: outT 0.8s backwards;

    animation: outT 0.8s backwards;

    -webkit-animation-direction: reverse;

    animation-direction: reverse;

}



.navTrigger i:nth-child(2) {

    margin: 5px 0;

    -webkit-animation: outM 0.8s backwards;

    animation: outM 0.8s backwards;

    -webkit-animation-direction: reverse;

    animation-direction: reverse;

}



.navTrigger i:nth-child(3) {

    -webkit-animation: outBtm 0.8s backwards;

    animation: outBtm 0.8s backwards;

    -webkit-animation-direction: reverse;

    animation-direction: reverse;

}



.navTrigger.active i:nth-child(1) {

    -webkit-animation: inT 0.8s forwards;

    animation: inT 0.8s forwards;

}



.navTrigger.active i:nth-child(2) {

    -webkit-animation: inM 0.8s forwards;

    animation: inM 0.8s forwards;

}



.navTrigger.active i:nth-child(3) {

    -webkit-animation: inBtm 0.8s forwards;

    animation: inBtm 0.8s forwards;

}



@-webkit-keyframes inM {

    50% {

        -webkit-transform: rotate(0deg);

    }

    100% {

        -webkit-transform: rotate(45deg);

    }

}



@keyframes inM {

    50% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(45deg);

    }

}



@-webkit-keyframes outM {

    50% {

        -webkit-transform: rotate(0deg);

    }

    100% {

        -webkit-transform: rotate(45deg);

    }

}



@keyframes outM {

    50% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(45deg);

    }

}



@-webkit-keyframes inT {

    0% {

        -webkit-transform: translateY(0px) rotate(0deg);

    }

    50% {

        -webkit-transform: translateY(9px) rotate(0deg);

    }

    100% {

        -webkit-transform: translateY(9px) rotate(135deg);

    }

}



@keyframes inT {

    0% {

        transform: translateY(0px) rotate(0deg);

    }

    50% {

        transform: translateY(9px) rotate(0deg);

    }

    100% {

        transform: translateY(9px) rotate(135deg);

    }

}



@-webkit-keyframes outT {

    0% {

        -webkit-transform: translateY(0px) rotate(0deg);

    }

    50% {

        -webkit-transform: translateY(9px) rotate(0deg);

    }

    100% {

        -webkit-transform: translateY(9px) rotate(135deg);

    }

}



@keyframes outT {

    0% {

        transform: translateY(0px) rotate(0deg);

    }

    50% {

        transform: translateY(9px) rotate(0deg);

    }

    100% {

        transform: translateY(9px) rotate(135deg);

    }

}



@-webkit-keyframes inBtm {

    0% {

        -webkit-transform: translateY(0px) rotate(0deg);

    }

    50% {

        -webkit-transform: translateY(-9px) rotate(0deg);

    }

    100% {

        -webkit-transform: translateY(-9px) rotate(135deg);

    }

}



@keyframes inBtm {

    0% {

        transform: translateY(0px) rotate(0deg);

    }

    50% {

        transform: translateY(-9px) rotate(0deg);

    }

    100% {

        transform: translateY(-9px) rotate(135deg);

    }

}



@-webkit-keyframes outBtm {

    0% {

        -webkit-transform: translateY(0px) rotate(0deg);

    }

    50% {

        -webkit-transform: translateY(-9px) rotate(0deg);

    }

    100% {

        -webkit-transform: translateY(-9px) rotate(135deg);

    }

}



@keyframes outBtm {

    0% {

        transform: translateY(0px) rotate(0deg);

    }

    50% {

        transform: translateY(-9px) rotate(0deg);

    }

    100% {

        transform: translateY(-9px) rotate(135deg);

    }

}



.affix {

    padding: 0;

    background-color: #111;

}













.myH2 {

	text-align:center;

	font-size: 4rem;

}

.myP {

	text-align: justify;

	padding-left:15%;

	padding-right:15%;

	font-size: 20px;

}

@media all and (max-width:700px){

	.myP {

		padding:2%;

	}

}



/* Galeria de Passeios section */

img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }